html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 80vh; /* Important! Without height, map is blank */
}

#ui {
  padding: 10px;
  background: rgba(255,255,255,0.8);
}

#eventCard {
  display: none;
  background: #f8e5c1;
  padding: 5px;
  border: 2px solid #6B4226;
  border-radius: 5px;
  margin-top: 5px;
}

