html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%; /* Full viewport height */
}

#ui {
  padding: 10px;
  background: #f0e6d2;
  font-weight: bold;
}

#eventCard {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff4c2;
  border: 2px solid #b08d57;
  padding: 10px;
  z-index: 1000;
}
